<h1>Pagina Inicial</h1>
<p>Pagina em construcao!</p>

<% if user_signed_in? %>

	<ul>
		<li><%= current_user.email %></li>
	</ul>

	<ul>	
		<li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
	</ul>

	<ul>	
		<li><%= link_to "Projetos", projetos_path %></li>
	</ul>
<% else %>
	<ul>
		<li><%= link_to "Login", new_user_session_path %></li>
	</ul>
<% end %>
