
<p>
  <strong>Nome do Projeto:</strong>
  <%= @projeto.nomeProjeto %>
</p>

<p>
  <strong>Mini Mundo:</strong>
  <%= @projeto.resumo %>
</p>

<%= link_to 'Voltar para projetos', projetos_path %>

<%= link_to 'Ir para Diagrama', diagramas_path %>