<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @glossario.siglaGlossario %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @glossario.descricaoGlossario %>
</p>

<%= link_to 'Finalizar', projetos_path %>
